{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/boost.css' %}">
    <title>Boost</title>
</head>
<body>
  <main>
    <div class="main">
      <div class="score">
        <p>{{ zb_coin|intcomma }}</p>
        <img class="coin" src="{% static 'assets/icons/coin.png' %}" alt=""></div>
    <div class="upgrade-block">
        <div class="upgrade-box" id="multitap-box">
            <div class="upgrade-icon-box">
                <img src="{% static 'assets/icons/point_up_2.png' %}" alt="" class="upgrade-icon">
            </div>
            <div class="upgrade-info">
                <p class="upgrade-name">Multitap</p>
                <div class="upgrade-name-bottom">
                    <p class="upgrade-amount">1 $ZB</p>
                    <p class="upgrade-level">{{ hurt_limit_lvl }} lvl</p>
                </div>
            </div>
            <div class="price-box">
              <p class="price-amount">60</p>
              <img src="{% static 'assets/icons/coin.png' %}" class="coin-icon" alt="">
            </div> <!-- MAX 100lvl 
            Speed price index +250%
            Speed price lvl +1 ZB -->
        </div>
        <div class="upgrade-box" id="regeneration-box">
            <div class="upgrade-icon-box">
                <img src="{% static 'assets/icons/zap.png' %}" alt="" class="upgrade-icon">
            </div>
            <div class="upgrade-info">
                <p class="upgrade-name">Regeneration</p>
                <div class="upgrade-name-bottom">
                    <p class="upgrade-amount">168s</p>
                    <p class="upgrade-level">{{ regeneration_lvl }} lvl</p>   <!-- MAX 10lvl 
                                                            Speed price index +250%
                                                            Speed price lvl +12s -->
                </div>
            </div>
            <div class="price-box">
              <p class="price-amount">600</p>
              <img src="{% static 'assets/icons/coin.png' %}" class="coin-icon" alt="">
            </div>
        </div>
        <div class="upgrade-box" id="hurtlimit-box">
            <div class="upgrade-icon-box">
                <img src="{% static 'assets/icons/hearts.png' %}" alt="" class="upgrade-icon">
            </div>
            <div class="upgrade-info">
                <p class="upgrade-name">Hurt limit</p>
                <div class="upgrade-name-bottom">
                    <p class="upgrade-amount">1 hurt</p>
                    <p class="upgrade-level">{{ hurt_limit_lvl }} lvl</p>
                </div>
            </div>
              <div class="price-box">
              <p class="price-amount">60</p>
              <img src="{% static 'assets/icons/coin.png' %}" class="coin-icon" alt="">
            </div> <!-- MAX 100lvl 
            Speed price index +250%
            Speed price lvl +1 hurt -->
        </div>
    </div>
    </div>
    <div class="controls">
      <a href="{% url 'boost' %}">
        <div class="tab">
          <img src="{% static 'assets/icons/rocket_6437747.png' %}" alt="" class="tab-icon">
          <p class="tab-name">Boosts</p>
        </div>
      </a> 
      <a href="{% url 'task' %}">
        <div class="tab">
          <img src="{% static 'assets/icons/check-list_4630883.png' %}" alt="" class="tab-icon">
          <p class="tab-name">Task</p>
        </div>
      </a>
      <a href="{% url 'index' %}">
        <div class="tab">
          <img src="{% static 'assets/icons/house_10723211.png' %}" alt="" class="tab-icon">
          <p class="tab-name">Home</p>
        </div>
      </a>
      <a href="{% url 'skins' %}">
        <div class="tab">
          <img src="{% static 'assets/icons/hangar_10580180.png' %}" alt="" class="tab-icon">
          <p class="tab-name">Skins</p>
        </div>
      </a>
      <a href="{% url 'friends' %}">
        <div class="tab">
          <img src="{% static 'assets/icons/users_149066.png' %}" alt="" class="tab-icon">
          <p class="tab-name">Friends</p>
        </div>
      </a>
    </div>
  </main>
    
  <script src="{% static 'scripts/normalize.js' %}"></script>
  <script src="{% static 'scripts/boosts.js' %}"></script>
</body>
</html>