{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'style/index.css' %}">
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <title>Main</title>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      if (!sessionStorage.getItem('dataSent')) {
        sendData();
      }
    });

    function sendData() {
      var tg = window.Telegram.WebApp;
      var user_id = tg.initDataUnsafe.user.id;
      var user_full_name = tg.initDataUnsafe.user.first_name;
      var user_nickname = tg.initDataUnsafe.user.username;
      var user_photo = tg.initDataUnsafe.user.photo_url;

      window.Telegram.WebApp.expand();

      fetch('/user-id/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({ 'user_id': user_id, 'user_full_name': user_full_name, 'user_nickname': user_nickname, 'user_photo': user_photo })
      })
        .then(response => response.json())
        .then(data => {
          console.log('Success:', data);
          sessionStorage.setItem('dataSent', 'true');
          location.reload();
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  </script>
</head>

<div class="mask">
  <div class="loader loader-2"></div>
</div>

<body>
  <main>
    <div class="main">
      <div class="score">
        <img class="coin" src="{% static 'assets/icons/coin.png' %}" alt="Coin">
        <p>{{ zb_coin|intcomma }}</p>
      </div>
      <div class="hearts">
        <img class="heart" src="{% static 'assets/icons/heart.png' %}" alt="Heart">
        <p class="heart-amount">{{ hurt }}</p>
      </div>
      <div class="rank">777,777th</div>
      <img class="avatar" src="{% static 'assets/sprites/1/Idle1(1).png' %}" alt="Avatar">
      <div class="name">John Park</div>
      <button class="play-btn">Play</button>
    </div>


    <div class="controls">
      <a href="{% url 'boost' %}">
        <div class="tab">
          <img src="{% static 'assets/icons/rocket_6437747.png' %}" alt="Boosts" class="tab-icon">
          <p class="tab-name">Boosts</p>
        </div>
      </a>
      <a href="{% url 'task' %}">
        <div class="tab">
          <img src="{% static 'assets/icons/check-list_4630883.png' %}" alt="Task" class="tab-icon">
          <p class="tab-name">Task</p>
        </div>
      </a>
      <a href="{% url 'index' %}">
        <div class="tab">
          <img src="{% static 'assets/icons/house_10723211.png' %}" alt="Home" class="tab-icon">
          <p class="tab-name">Home</p>
        </div>
      </a>
      <a href="{% url 'skins' %}">
        <div class="tab">
          <img src="{% static 'assets/icons/hangar_10580180.png' %}" alt="Skins" class="tab-icon">
          <p class="tab-name">Skins</p>
        </div>
      </a>
      <a href="{% url 'friends' %}">
        <div class=" tab">
          <img src="{% static 'assets/icons/users_149066.png' %}" alt="Friends" class="tab-icon">
          <p class="tab-name">Friends</p>
        </div>
      </a>
    </div>
  </main>
  <script src="{% static 'scripts/index.js' %}"></script>
  <script src="{% static 'scripts/normalize.js' %}"></script>
</body>

</html>