<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <button style="background-color: var(--tg-theme-button-color);" id="MyButton">Click Me!</button>
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        sendData();
    });
    
    function sendData() {
        var tg = window.Telegram.WebApp;
        var user_id = tg.initDataUnsafe.user.id;
    
        fetch('/user-id/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  // Для безпеки запитів
            },
            body: JSON.stringify({'user_id': user_id})
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }</script>
</body>
</html>