<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/boost.css' %}">
    <title>Boost</title>
</head>
<body>
  <main>
    <div class="main">
      <div class="score">
        <p>3,042</p>
        <img class="coin" src="{% static 'assets/icons/coin.png' %}" alt=""></div>
    <div class="upgrade-block">
        <div class="upgrade-box">
            <div class="upgrade-icon-box">
                <img src="{% static 'assets/icons/rocket.png' %}" alt="" class="upgrade-icon">
            </div>
            <div class="upgrade-info">
                <p class="upgrade-name">Time</p>
                <div class="upgrade-name-bottom">
                    <p class="upgrade-name">30s</p>
                    <p class="upgrade-name">1lvl</p>
                </div>
            </div>
            <p class="upgrade-price">60 $ZB</p>
        </div>
        <div class="upgrade-box">
            <div class="upgrade-icon-box">
                <img src="{% static 'assets/icons/rocket.png' %}" alt="" class="upgrade-icon">
            </div>
            <div class="upgrade-info">
                <p class="upgrade-name">Time</p>
                <div class="upgrade-name-bottom">
                    <p class="upgrade-name">30s</p>
                    <p class="upgrade-name">1lvl</p>
                </div>
            </div>
            <p class="upgrade-price">60 $ZB</p>
        </div>
        <div class="upgrade-box">
            <div class="upgrade-icon-box">
                <img src="{% static 'assets/icons/rocket.png' %}" alt="" class="upgrade-icon">
            </div>
            <div class="upgrade-info">
                <p class="upgrade-name">Time</p>
                <div class="upgrade-name-bottom">
                    <p class="upgrade-name">30s</p>
                    <p class="upgrade-name">1lvl</p>
                </div>
            </div>
            <p class="upgrade-price">60 $ZB</p>
        </div>
    </div>
    </div>
    <div class="controls">
      <a href="http://127.0.0.1:8000/boost/">
        <div class="tab">
          <img src="{% static 'assets/icons/rocket_6437747.png' %}" alt="" class="tab-icon">
          <p class="tab-name">Boosts</p>
        </div>
      </a> 
      <a href="http://127.0.0.1:8000/task/">
      <div class="tab">
        <img src="{% static 'assets/icons/check-list_4630883.png ' %}" alt="" class="tab-icon">
        <p class="tab-name">Task</p>
      </div>
      </a>
      <a href="http://127.0.0.1:8000">
      <div class="tab">
        <img src="{% static 'assets/icons/house_10723211.png' %}" alt="" class="tab-icon">
        <p class="tab-name">Home</p>
      </div>
      </a>
      <a href="http://127.0.0.1:8000/skins/">
      <div class="tab">
        <img src="{% static 'assets/icons/hangar_10580180.png' %}" alt="" class="tab-icon">
        <p class="tab-name">Skins</p>
      </div>
      </a>
      <a href="http://127.0.0.1:8000/friends/">
      <div class="tab">
        <img src="{% static 'assets/icons/users_149066.png' %}" alt="" class="tab-icon">
        <p class="tab-name">Friends</p>
      </div>
      </a>
    </div>
  </main>
    

</body>
</html>