@import url("https://fonts.googleapis.com/css?family=Arimo:regular,500,600,700,italic,500italic,600italic,700italic");
@import url(../components/controls/controls.css);
@import url(../components/header/header.css);
* {
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  font-family: Unbounded;
}

* {
  color: #ffffff;
  font-family: Arimo;

}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: "Open Sans"
}

p {
  font-family: "Open Sans"
}

html {
  scroll-behavior: smooth;
}


body{
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  background: url("../assets/img/background.jpg");
  backdrop-filter: grayscale(0.1) opacity(0.4);        
  background-size: cover;
  background-position: -115px;
  overflow: hidden;
  position: relative;
}

body::before {
  display: block;
  content: "";
  top: 0px;
  left: 0px;
  height: 200px;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.522) 0%, rgba(0,0,0,0) 100%);

  z-index: 5;
}

main{
/*     margin-top: 50px;
*/    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}
.main{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  position: relative;
  z-index: 7;
}
.score p{
  color: rgb(255, 255, 255);
  font-family: Arimo;
  font-size: 50px;
  font-weight: 800;
  line-height: 69px;
  letter-spacing: 0px;
  text-align: left;
  text-shadow: 0px 0px 4px #838383;

}
.rank {
  margin-top: 10px;
  text-align: center;
  color: rgba(255, 253, 253, 1);
  font-family: Arimo;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  text-shadow: 0px 0px 4px #838383;
  display: none;

}
.avatar {
  text-align: center;
  margin-top: 30px;
  width: 225px;
}
.name {
  margin-top: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
font-family: Arimo;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0px;
text-align: left;
display: none;
}
.controls{
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 95%;
  justify-content: space-between;
  background-color: rgba(51, 51, 51, 1);
      
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
    font-family: Linear, "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  backdrop-filter: blur(24px) saturate(1.4);
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(10, 10, 10, 0.9);
  border-radius: 16px;
  box-shadow: rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
  inset-inline: 0px;
  isolation: isolate;
/*       margin-inline: 235.6px;
*/      max-width: 1500px;
margin: 0px auto;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 90%;
  z-index: 100;
  color: rgb(255, 255, 255);
  text-size-adjust: 100%;
}


.coin{
  width: 50px;
  height: 50px;
}



.tab{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}


.tab-icon{
  width: 22.5px;
  height: 22.5px;

}

.tab-name{
  font-family: Arimo;
  color: #ffffff;
  font-weight: 800;
  font-size: 14px;
}