@import url("https://fonts.googleapis.com/css?family=Arimo:regular,500,600,700,italic,500italic,600italic,700italic");


* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  font-family: "Arimo", "Unbounded", "Open Sans";
  color: #ffffff;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear,
button::-moz-focus-inner {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Open Sans";
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  background: url("../assets/img/background.jpg") no-repeat center/cover;
  backdrop-filter: grayscale(0.1) opacity(0.4);
  overflow: hidden;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.522) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 5;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  height: 100%;
}

.main {
  gap: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 7;
}

.score p {
  font-size: 50px;
  font-weight: 800;
  line-height: 69px;
  text-shadow: 0px 0px 4px #838383;
}

.rank,
.name {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-shadow: 0px 0px 4px #838383;
  display: none;
}

.avatar {
  margin: 30px 0 0 50px;
  width: 225px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 16px;
  background-color: rgba(10, 10, 10, 0.9);
  backdrop-filter: blur(24px) saturate(1.4);
  box-shadow: rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
  z-index: 100;
}

.coin {
  width: 50px;
  height: 50px;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.tab-icon {
  width: 22.5px;
  height: 22.5px;
}

.tab-name {
  font-size: 14px;
  font-weight: 800;
}

.play-btn {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  background: rgb(255, 96, 69);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: rgb(255, 255, 255);
}
